:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #e5e5e5;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --title-text-color: #2196f3;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
h1,
h2,
h3,
p {
  margin: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*=============HEADER=============*/

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  margin-left: 93px;
}
.contacts-header {
  display: flex;
  margin-left: auto;
}
.contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.web-logo {
  color: var(--title-text-color);
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.menu-link.menu-link-black {
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--title-text-color);
}
.menu-link.current {
  color: var(--title-text-color);
}

.menu-link:active {
  color: var(--title-text-color);
}

.mail-link:active {
  color: var(--title-text-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--title-text-color);
}

.tel-link:hover {
  color: var(--title-text-color);
}

.mail-link {
  margin-left: auto;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: block;
  display: flex;
  color: var(--secondary-text-color);
}
.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: block;
  display: flex;
  color: var(--secondary-text-color);
}
.mail-link-item {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}
.mail-link-item:hover,
.mail-link-item:focus {
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

.tel-link-item {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
}
.tel-link-item:hover,
.tel-link-item:focus {
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

.menu-link.menu-link-blue.link.current {
  position: relative;

  color: var(--title-text-color);
}

.menu-link.menu-link-blue.link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/*=============END HEADER=============*/

/*=============HERO=============*/

.hero {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  color: var(--third-text-color);
  background-color: var(--secondary-background-color);
}
.main-section {
  max-width: 1600px;
  text-transform: uppercase;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.2)
    ),
    url("../images/img-18-2.jpg");
}

.title {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--third-text-color);
}

.hero-container {
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.menu-item:hover,
.menu-item:focus {
  text-decoration: none;
  list-style: none;
}
.menu.link.current {
  color: var(--title-text-color);
}

.modal-btn {
  font-family: var(--main-font);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  border: 0px;
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--title-text-color);
}
/*=============END HERO=============*/
/*=============FEATURES=============*/
.features {
  padding-top: 94px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.features-item {
  display: flex;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

.advantages {
  max-width: 270px;
  display: list-item;
  text-align: var(--primary-text-color);
}

.advantages:not(:last-child) {
  margin-right: 30px;
}
.advantages-list {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--third-background-color);
}
.advantages-icon {
  width: 70px;
  height: 70px;
}

.features-item .advantages-item {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: var(--primary-text-color);
}
.advantages-item-text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  text-align: left;

  color: var(--secondary-text-color);
}
/*=============END FEATURES=============*/
/*=============EXAMPLES=============*/
.examples {
  align-items: center;
  padding-bottom: 94px;
}

.examples-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.examples-picture:not(:last-child) {
  margin-right: 30px;
}

.examples-item-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: var(--primary-text-color);
}
.examples-picture {
  flex-basis: 370px;
}

/*============END EXAMPLES=============*/
/*============TEAM=============*/
.team {
  background: var(--third-background-color);
}
.container.img {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.team-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.team-item.list {
  margin: -15px;
}

.img-title {
  margin-bottom: 10px;
  text-align: center;
}
.img-subtitle {
  text-align: center;
}

.team-picture {
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--third-text-color);
  border-radius: 0px 0px 4px 4px;
}

/*.team-picture:first-child {
  margin-left: 0px;
}
.team-picture:not(:last-child) {
  margin-right: 30px;
}*/

.team-item-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.examples-picture {
  display: flex;
  justify-content: center;
}

.container.img {
  background: var(--third-background-color);
}
.soc-icon {
  margin-right: 10px;
  display: block;
}
.team-card-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.soc-list {
  display: flex;
  padding: 0;
}
.soc-icon {
  margin-right: 10px;
  cursor: pointer;
}
.soc-icon:last-child {
  margin-right: 0;
}
.list {
  list-style: none;
  padding-inline-start: 0px;
  display: flex;
  justify-content: center;
}
.link.soc-link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
}

.icon-svg {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  fill: currentColor;
}

.img-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  color: var(--primary-text-color);
}

.img-subtitle {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  display: block;
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--title-text-color);
  color: var(--third-text-color);
}

/*============END TEAM=============*/
/*============OUR CLIENTS==========*/
.section {
  display: block;
}
.container {
  text-align: center;
}

.title-cl {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03 em;
  text-align: center;
  color: var(--primary-text-color);
}
.clients-title {
  margin-bottom: 50px;
}
.list {
  list-style: none;
  padding-inline-start: 0;
  justify-content: center;
  display: flex;
}
.clients-list {
  margin: 0;
  padding: 0;
}
.clients-picture {
  display: flex;
  margin-right: 30px;
}
.clients-picture:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
  border-radius: 4px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  color: var(--secondary-text-color);
  border-radius: 4 px;
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
}
.perm-clients {
  width: 106px;
  height: 60px;
  fill: currentColor;
  color: #afb1b8;
}
.link.clients-link:hover,
.link.clients-link:focus {
  border-color: var(--title-text-color);
  color: var(--title-text-color);
}

/*============END OUR CLIENTS==========*/
/*============FOOTER=============*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;

  background-color: var(--secondary-background-color);
}
.block-footer {
  display: flex;
  align-items: baseline;
  text-align: center;
}
.contacts-block {
  margin-right: 70px;
  text-align: left;
}
.footer-add {
  align-items: baseline;
  text-align: left;
  display: block;
}
.footer-invite {
  display: block;
  font-family: var(--main-font);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.footer-soc-list {
  padding: 0;
  display: flex;
}

.footer-soc-icon {
  justify-content: center;
}
.footer-link {
  display: flex;
  margin-right: 10px;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.footer-icon-svg {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  fill: var(--third-text-color);
  overflow: hidden;
}

.footer-soc-list {
  padding: 0;
  display: flex;
}

.desk-address {
  margin-top: 20px;
  margin-bottom: 9px;
  flex-direction: column;
}
.contacts {
  margin-right: auto;
  flex-direction: column;
  text-align: left;
}

.desk-mail {
  margin-bottom: 9px;
}
.desk-mail:not(:last-child) {
  margin-bottom: 9px;
}

.desk-tel {
  margin-bottom: 9px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  color: var(--third-text-color);
}
.web-logo-footer {
  color: var(--title-text-color);
}
.desk-address {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--third-text-color);
  font-style: normal;
  white-space: pre;
}
.contacts-mail {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.contacts-tel {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.link.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--third-text-color);
}

.link.footer-link:hover,
.link.footer-link:focus {
  background-color: var(--title-text-color);
}

/*============END FOOTER=============*/

/*============CONTENT OF PAGE PORTFOLIO=============*/
.content-item {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.modal-btn-item {
  margin-right: 8px;
  border-radius: 4px;
}
.modal-btn-port-blue {
  padding: 6px 22px;
}

.modal-btn-port {
  margin-right: 8px;
  padding: 6px 22px;
}
.modal-btn-port:not(:last-child) {
  margin-right: 8px;
}
.modal-btn-item:not(:first-child) {
  margin-left: 8px;
}

.menu-link-blue-port {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hiden {
  display: none;
}

.modal-btn-port-blue {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--third-text-color);
  background-color: var(--title-text-color);
  cursor: pointer;
}
.modal-btn-port {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--third-background-color);
}

.modal-btn-port-blue:hover,
.modal-btn-port-blue:focus {
  background-color: var(--title-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.modal-btn-port:hover,
.modal-btn-port:focus {
  color: var(--third-text-color);
  background-color: var(--title-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*============END CONTENT OF PAGE PORTFOLIO=============*/

/*============GALLERY OF WORKS=============*/
.team-project {
  padding: 20px 24px;
  border: 1px solid var(--third-background-color);
  border-top: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-picture {
  flex-basis: 370px;
  margin-top: 30px;
  margin-left: 30px;
}
.gallery-picture:hover,
.gallery-picture:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-headline {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--primary-text-color);
  text-decoration: none;
}
.img-headline-subtitle {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
  text-decoration: none;
}

/*===========END OF GALLERY OF WORKS=============*/
